<div class="MappingSelection">
  <ng-select
    [items]="userFieldMappings"
    [clearable]="true"
    [formControl]="fieldMappingForm"
    [disableControl]="!userFieldMappings.length"
    placeholder="{{ 'Import.Mapping.ChooseMapping' | translate }}"
    data-qa="import-fieldmapping-selection-select"
    class="MappingSelection__select"
  >
    <ng-template
      ng-option-tmp
      let-item="item"
      let-index="index"
      let-search="searchTerm"
    >
      <div [attr.data-qa]="'import-fieldmapping-selection-' + index">
        <span class="pre-wrap">
          {{ item.label }}
        </span>
      </div>
    </ng-template>
  </ng-select>
  <a
    mat-stroked-button
    class="MappingSelection__button"
    [href]="editionURLinAdmin"
    target="_blank"
  >
    <mat-icon>edit</mat-icon>
    Edit
  </a>
</div>
