.MappingSelection {
  margin-bottom: 1rem;

  display: flex;
  flex-flow: row nowrap;
  column-gap: 1rem;
  &__select {
    flex-grow: 2;
  }
  &__button {
    color: #787878;
    &:hover {
      text-decoration: none;
    }
  }
}
