.Header{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  row-gap: 1rem;

  &__indicators {
    width: 80%;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}

